[Desktop Entry]
Name=AstroCTC Astronomy Image Capture
_Comment=A program to capture Planetary and Lunar images
TryExec=astroctc
Exec=astroctc
Icon=/usr/share/pixmaps/astroctc/astroctc.png
Terminal=false
Type=Application
Keywords=video;astronomy;image;webcam;
Categories=Video;Astronomy;
StartupNotify=true
